---
permalink: 
layout: default
description: Welcome to the WCGS Programming Society webpage. Programming takes place every Wednesday in IT2, after school.
published: true
---

        <div id="welcome">
            <p>
                Welcome to the WCGS Programming Society webpage. Programming takes place every Wednesday in IT2, after school.
            </p>
            <p>
                For more information, please see <a href="https://docs.google.com/document/d/1EsfoirRjoDX-Rw2I0IxH_faN9tkFL9qcLAA--IHEAz8/edit?usp=sharing">our club charter</a>.
            </p>
        </div>
        <div id="showcase">
            <a href="#showcase" onclick="expand('expand1')">
                <h2 id="expand1status">+</h2><h2>Showcase</h2>
                <p>
                    See all the wonderful work that we've made so far at Programming Society.
                </p>
                <p>
                    Click to view the Showcase.
                </p>
            </a>
            <div id="expand1">
                {% for post in site.posts %}
                    {% if post.categories contains "showcase" %}
                        <a href="{{ post.url }}"><div>{{ post.title }}</div></a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div id="resources">
            <a href="#resources" onclick="expand('expand2')">
                <h2 id="expand2status">+</h2><h2>Resources</h2>
                <p>
                    Find the lessons we're using to teach the languages you're studying.
                </p>
                <p>
                    Click to view Resources.
                </p>
            </a>
            <div id="expand2">
                {% for post in site.posts %}
                    {% if post.categories contains "resources" %}
                        <a href="{{ post.url }}"><div>{{ post.title }}</div></a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>