    <head>
        <title>Programming @ WCGS</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
        {% if page.title == "404" %}<meta name="robots" content="noindex">{% endif %}
        <link rel="canonical" href="{{ prepend: site.url }}{{ page.url | replace:'index.html','' }}">
        <link rel="stylesheet" href="/css/style.css">
        <script src="/scripts/script.js"></script>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/highlight.js/8.4/styles/highlight.min.js">
        <script src="//cdn.jsdelivr.net/highlight.js/8.4/highlight.min.js"></script>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
    </head>