---
layout: default
---
        {% if page.categories contains "showcase" %}
                        <a href="/showcase/">Back to full Showcase</a>
        {% endif %}
        {% if page.categories contains "resources" %}
                        <a href="/resources/">Back to all Resources</a>
        {% endif %}
        {% if page.categories contains "future" %}
                        <a href="/showcase/future-projects/">Back to all Future Projects</a>
        {% endif %}
        <div id="welcome">
            <h2>{{ page.title }}</h2>
        </div>
        {{ content }}
