---
layout: default
---
        {% if page.categories contains "showcase" %}
            {% if page.categories.size == 1 %}
                        <a href="/showcase/">Back to full Showcase</a>
            {% elsif page.categories contains "future-projects" %}
                        <a href="/showcase/future-projects/">Back to all Future Projects</a>
            {% else %}
                        <a href="/showcase/">Back to full iusbg</a>
            {% endif %}
        {% endif %}
        {% if page.categories contains "resources" %}
                        <a href="/resources/">Back to all Resources</a>
        {% endif %}
        <div id="welcome">
            <h2>{{ page.title }}</h2>
        </div>
        {{ content }}
